#menubar {
    background-color: #0e98ce;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

#title {
    color: #f4f4ef;
    padding: 10px;
    padding-left: 20px;
}

#github-icon {
    position: absolute;
    right: 1%;
    top: 4px;
    fill: white;
}

#github-icon:hover {
    fill: #d4d4d4;
}

#dragbar {
    background-color: #fbfbfb;
    width: 17%;
    border-width: 1px;
    border-right-style: solid;
    border-color: #c1c1c1;
    position: absolute;
    bottom: 0px;
    top: 38px;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#tabbar {
    background-color: #d1d3d3;
    left: 17%;
    top: 38px;
    width: 83%;
    height: 29px;
    position: absolute;
}

#canvas-base {
    overflow: hidden;
}

#canvi {
    width: 83%;
    left: 17%;
    top: 67px;
    bottom: 0px;
    position: absolute;
}

#unsupported {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvaswrap {
    width: 100%;
    height: 100%;
}

.dropdown {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
    user-select: none;
}

.dropLabel img {
	height: 16px;
	width: 16px;
}

.dropLabel {
	margin: 0px;
	padding: 5px;
	width: 100%;
	color: white;
	font-weight: bold;
	background-color: #b5b5b5;
	display: flex;
	justify-content: space-between;
    align-items: center;
    user-select: none;
}

.dragBody {
	padding: 5px;
	margin: 5px;
	background-color: #E7F7FD;
	width: 40%;
	min-width: 120px;
	height: 3em;

	border-style: solid;
	border-color: #086788;
	border-width: 3px;
	border-radius: 10px;

	display: flex;
	justify-content: space-around;
    align-items: center;
    user-select: none;
}

.tooltip {
	visibility: hidden;
	background-color: white;
	color: black;
    padding: 5px;
    border: 1px solid black;
	text-align: center;
	max-width: 200px;
	min-width: 100px;

	position: relative;
	z-index: 1;
	margin: 0px 0px 0px 25px;
	padding-right: 5px;
	transition: 0s visibility;
}

.ttc {
	width: 0px;
	visibility: hidden;
}

.dragBody:hover {
    background-color: #c9e5ef;
}

.dragBody:hover .ttc .tooltip {
	visibility: visible;
	transition-delay: 0.25s;
}

.gateSymbol {
	margin: 0px;
	font-size: 32px;
    font-weight: bold;
    user-select: none;
}

.gateName {
	width: 50%;
    text-align: center;
    user-select: none;
}

.dragGate {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    cursor: grabbing;
    text-align: center;
}

body {
    margin: 0px;
    top: 0px;
    bottom: 0px;
}
