#menubar {
    background-color: #0e98ce;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
}

#title {
    color: #f4f4ef;
    padding: 10px;
    padding-left: 20px;
}

#github-icon {
    position: absolute;
    right: 1%;
    top: 4px;
    fill: white;
}

#github-icon:hover {
    fill: #d4d4d4;
}

#dragbar {
    background-color: #fbfbfb;
    width: 17%;
    border-width: 1px;
    border-right-style: solid;
    border-color: #c1c1c1;
    position: absolute;
    bottom: 0px;
    top: 38px;
}

#tabbar {
    background-color: #d1d3d3;
    left: 17%;
    top: 38px;
    width: 83%;
    height: 29px;
    position: absolute;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvaswrap {
    width: 100%;
    height: 100%;
}

#canvas-base {
    overflow: hidden;
}

#canvi {
    width: 83%;
    left: 17%;
    top: 67px;
    bottom: 0px;
    position: absolute;
}

#unsupported {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    top: 0px;
    bottom: 0px;
}
